.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color: red;
}

hr {
  border-top: 2px solid red;
  margin: 0px;
}

.App-body p {
  margin: 55px 0px 300px 10px;
  padding-right: 500px;
  font-size: 14px;
  
}
.App-footer p {
  margin-top: 15px;
  font-style: italic;
  font-size: 14px;
}
