.App {
  height: 100vh;
  max-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 200px;
  width: 200px;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color: red;
}

hr {
  border-top: 4px solid red;
  margin: 0px;
}

.App-body p {
  padding: 2em;
  font-size: 20px;
  margin-bottom: 400px;
  
}
.App-footer p {
  margin-top: 15px;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}
