.Notifications {
    margin-bottom: 20px;
    padding: 1em;
    border: 1px dashed red;
    padding: 1em;
    top: 10px;
    width: 95vw;
}

li[data="default"] {
    color: blue;
}

li[data="urgent"] {
    color: red;
}

.notification-header {
    display: flex;
    justify-content: space-between;
  }
  
  .menuItem {
    text-align: right;
  }
